<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  <link rel="stylesheet" href="style.css">


</head>
<body>


  <script src="https://unpkg.com/vue@3"></script>
  <div id="app">{{ message }}</div>
  

  <div class="popupstream animate__animated"> <h1>TEST</h1> <br>POPUP du stream de <br> Jean-Kevin<br><br>
  Toi aussi retrouve Jean-Kev tous les mardis à 04.00am <br>
  </div>
  <script>
    const { createApp } = Vue
  
    createApp({
      data() {
        return {
          /*message: 'Hello Vue!'*/
        }
      }
    }).mount('#app')
  </script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

</body>
</html>
