 
body {
    height: 1080px;
    width: 1920px;
    padding-top: 5rem;
    background-color: transparent;
  }
  
  h1 {  }
  
  p {  }

  .selector-for-some-widget {
    box-sizing: content-box;
    }

.popupstream{
    background-color: none;
    height: 250px;
    width: 400px;
    color: #fff;
    margin-top: 1rem;
    margin-left: 2rem;
    padding: 0.5rem;
    border: 2px solid greenyellow;
    display: inline-block;
    margin: 0 0.5rem;
    opacity: 0;
  
    /*animation: wattaNiceBox,backInLeft, backOutLeft, fadeOut; 
    animation-duration: 1ms, 3s, 5s, 1s;
    animation-delay: 0.1ms, 0.2ms, 10s, 10.5s;
    animation-duration: 10s, 10s;
    animation-iteration-count: 1, 1;
    to anim , backOutLeft 15s 
    
    animation: fadeIn, visibleBox, backInLeft, backOutLeft, fadeOut; 
    animation-duration: 1s, 20s, 8s, 5s, 2s;
    animation-delay: 1ms, 1ms, 0.2s, 12s, 12s;
      */
        animation: visibleBox, backInLeft, backOutLeft; 
        animation-duration: 12s, 3s, 2s;
        animation-delay: 1ms, 1ms, 11s;
        /*animation-timing-function: ease-out;*/
}
.popupstream h1{
    margin: 0 auto;
    text-align:center;
}

@keyframes visibleBox{
    from{
        opacity: 1;
    }
    to{
        opacity: 1;
    }
}
